
Final/__pycache__/Gesture_Controller.cpython-38.pyc
Final/__pycache__/Gesture_Controller.cpython-38.pyc
Media_Pipe/.vs/slnx.sqlite
Media_Pipe/.vs/slnx.sqlite
*.json
*.sqlite
*.sqlite
*.json
.vs/Repo/v16/.suo
.vs/Gesture_Controller/v16/.suo
*.sqlite
*.vs
.vs/slnx.sqlite
