pyttsx3==2.71
SpeechRecognition==3.8.1
pynput==1.7.3
pyautogui==0.9.53
wikipedia==1.4.0
opencv-python==4.5.3.56
mediapipe==0.8.6.2
comtypes==1.1.11
pycaw==20181226
screen-brightness-control==0.9.0
eel==0.14.0
