bottle==0.12.19
bottle-websocket==0.2.9
Bottleneck==1.3.2
Cython @ file:///C:/ci/cython_1594829190914/work
Eel==0.14.0
mpmath==1.1.0
numpy==1.18.5
opencv-contrib-python==4.5.1.48
pandas @ file:///C:/ci/pandas_1592833613419/work
PyAudio==0.2.11
PyAutoGUI==0.9.52
pycaw==20181226
pycurl==7.43.0.5
pyttsx3==2.90
SpeechRecognition==3.8.1
